@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn {
  background-color: rgb(68, 68, 192);
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Login {
  min-height: 100vh;
  background-image: url(/running-573762_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

@media screen and (min-width: 100%) {
  .Login {
    min-width: 100vh;
    
  }

  body {
    min-width: 100vh;
    margin: 0;
  padding: 0;

  }
}

